/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

@include mat-core();

$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent:  mat-palette($mat-blue);
$my-app-warn:    mat-palette($mat-teal);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

//-----------------------------CATEGORIA-FORM--------------------------------- 
.categoria-form{
    min-width: 40%;
    max-width: 80%;  
    min-width: 1700px 
}

.categoria-form-div {
    min-width: 350px;
    height: 150px;
    max-width: 500px;
    
  }

.categoria-form-input {
    min-width: 50%;
    
}

.categoria-form-descricao {
    min-width: 90%;
        
}
.categoria-form-text{
    color: #6E6E6E;
}

.categoria-form-card{
  min-width: 1000px;
  }

.categoria-form-h2{
  text-align : center ;
  color: #6E6E6E
}

//-----------------------------CATEGORIA-LIST---------------------------------

.categoria-list-h2{
  text-align : center ;
  color: #6E6E6E;
}

.categoria-list-card{
  min-height: 50px; 
  min-width:99%;
}
.categoria-list-md-input-panel{
  padding-top : 15px;
}

.categoria-list-md-raised-button{
  max-height: 40px;
}

.categoria-list-a{
  text-align: left
}

.categoria-list-md-icon{
  font-size: 60px;
  padding-top: 10px; 
  padding-left: 30px
}

.categoria-list-span{
  color: #6E6E6E;
}