<form #myForm="ngForm" class="registro-form" [formGroup]="formulario" flex="100">

  <div layout-align="center center" layout-gt-xs="row" layout-margin>
    <md-card flex="70">
      <div>
        <h2 class="form-h2">

          <a *ngIf="!registro.id">Cadastrar Registro</a>
          <a *ngIf="registro.id">Editar Registro</a>

        </h2>
      </div>

      <div class="form-div1">
        <md-select class="push form-md-select" placeholder="Tipo contábil" formControlName="tipoForm" [(ngModel)]="registro.tipo">
          <md-option *ngFor="let tipo of tipos" [value]="tipo.value">
            {{ tipo.viewValue }}
          </md-option>
        </md-select>
      </div>

      <div flex>
        <md-input-container class="push">
          <md-form-field>
            <input class="form-input" type="text" placeholder="Categoria" mdInput [(ngModel)]="registro.categoria" formControlName="categoriaForm"
              [mdAutocomplete]="auto">
            <md-autocomplete #auto="mdAutocomplete" [displayWith]="displayCategoria">
              <md-option *ngFor="let categoria  of categorias" [value]="categoria">
                {{ categoria.nome }}
              </md-option>
            </md-autocomplete>
          </md-form-field>
          <md-error>
            Categoria é necessário
          </md-error>
        </md-input-container>
      </div>

      <div layout="row">
        <md-input-container class="push" flex="10">
          <input class="form-input2" mdInput [mdDatepicker]="data" placeholder="Data*" formControlName="dataForm" [(ngModel)]="registro.data">
          <button mdSuffix [mdDatepickerToggle]="data"></button>
          <md-datepicker #data></md-datepicker>
          <md-error>
            Data é <strong>necessária</strong>
          </md-error>
        </md-input-container>

        <span flex="10"></span>

        <md-input-container class="push" flex="15">
          <md-form-field>
            <input class="form-input3" type="number" mdInput placeholder="Valor" formControlName="valorForm" [(ngModel)]="registro.valor">
          </md-form-field>
          <md-error>
            Valor é necessário
          </md-error>
        </md-input-container>
      </div>

      <div class="push form-div2">
        <md-input-container>
          <md-form-field>
            <input class="form-input3" mdInput #message maxlength="255" placeholder="Descrição" formControlName="descricaoForm" [(ngModel)]="registro.descricao">
          </md-form-field>
          <md-hint align="start">Digite uma descrição para o Registro</md-hint>
          <md-hint align="end">{{message.value.length}} / 255</md-hint>
          <md-error>Este Campo é obrigatório</md-error>
        </md-input-container>
      </div>

      <div class="form-div3">
      </div>

      <div flex="85" layout-align="end" layout-gt-xs="row" layout-margin>
        <button md-raised-button color="warn" (click)="insertRegistro(registro)">Salvar</button>
      </div>

      <div class="form-div1">
      </div>

    </md-card>
  </div>
</form>